[2015-12-03 00:10] craigpatten opened #1 "Service lifecycle: VMs/containers, data persistence."

[2015-12-03 00:11] craigpatten opened #2 "HTTPS certificate"
Name: samples.oagr.org.au

[2015-12-03 00:12] craigpatten opened #3 "Audit trail"
Track edits:
- who
- what
- when

[2015-12-03 00:13] craigpatten opened #4 "Concurrency management"
Sensibly handle concurrent modifications.

[2015-12-03 00:14] craigpatten opened #5 "Fix HTTPS interaction with HCP"
Certificate verification problems.

[2015-12-03 00:17] craigpatten opened #6 "Image thumbnails [ACAD # 3]"

[2015-12-03 00:17] craigpatten opened #7 "Faceted view"

[2015-12-03 00:41] craigpatten opened #8 "Customising displayed set of headers/fields"

[2015-12-03 00:41] craigpatten opened #9 "Spreadsheet-style edit view"

[2015-12-03 00:42] craigpatten opened #10 "Ability to push to OAGR"

[2015-12-03 00:43] craigpatten opened #11 "Complex queries"

[2015-12-03 00:43] craigpatten opened #12 "Data validation with meaningful error messages"

[2015-12-07 17:56] #5 closed

[2015-12-07 17:57] craigpatten opened #13 "HTTP 500 error on AQIS page"

[2015-12-07 17:58] #1 closed

[2015-12-10 07:13] sgoodswen opened #14 "Search not possibe with "Carbon Date" and "Import Permit #" key words"
This issue refers to the Search menu and searching with keys

e.g. This works
common_name:bison

This does not work
Carbon Date: C14

I expect it is because of the space

[2015-12-11 00:07] sgoodswen opened #15 "Incorrect description title in Lab menu -> Sequences"
Lab menu -> Sequences

In Add sequences it displays “New permit” as the title rather than “New sequence”

[2015-12-11 00:25] sgoodswen opened #16 "Prevent deletion if parent has children (applies to Samples, Extractions, Amplification, Enrichments)"
There is a hierarchical relationship between SampleID, Extraction result ID, Amplification result ID, and Enrichment ID.

The option to [delete] must be disabled if a parent has children. For example, you cannot delete a sample if it is associated with Extractions. To enable the Samples [delete] button, the user would need to delete the extractions first. The Extraction [delete] button would only

[2015-12-11 02:56] craigpatten commented on #13
Need to sort out the data model.

[2015-12-15 00:23] sgoodswen opened #17 "System Error 500 with [Upload] a file"
A System Error 500 is generated if you try to [Upload] a file that already exists

[2015-12-15 00:30] sgoodswen opened #18 "[Add Sample] generates System Error 500"
The [Add Samples] option now terminates with the usual System Error 500 regardless of the field entries.

[2015-12-15 00:32] sgoodswen opened #19 "In Samples -> Samples it is not displaying the ACAD # in sequential order"
In Samples -> Samples it is not displaying the ACAD # in sequential order in many cases:

ACAD 12983 is between ACAD 145 and 146
ACAD 255 and 2090 are between ACAD 212 and 213
ACAD 400 is between ACAD 230 and 231
     ... and many other instances

[2015-12-15 00:48] craigpatten commented on #17
This is by design &mdash; for security reasons the application is not able to overwrite (or delete) data on the object store.  We could revisit this if required.

[2015-12-15 01:02] sgoodswen commented on #17
I think the design is correct, but rather than a System Error 500 could we please inform the user that the file already exists and cannot be uploaded again

OR

Perhaps we can warn the user that the files already exists but also give the option to replace it

[2015-12-22 05:18] sgoodswen opened #20 "Prevent letters in GP numbers"
[Add sample group] and [Upload Samples] allows letters in GP numbers.

For example, GPO13  (i.e. letter O entered instead of a zero).

Also, in [Add sample group] if a user enters GP and then a number e.g GP001 the Group number created is GPGP 001

[2016-01-14 23:49] Li-ReDBox commented on #18
@sgoodswen:  Do we know if all issues of 500 error are related? Here are the others: #13, #17

[2016-01-15 10:03] franksc commented on #18
Running the app in debug mode (DEBUG=True in Django settings.py) should provide stack trace-type error messages, rather than inscrutable 500s.

[2016-01-24 23:22] sgoodswen commented on #13
This bug has been fixed

[2016-01-24 23:22] #13 closed

[2016-01-24 23:24] sgoodswen commented on #15
fixed

[2016-01-24 23:24] #15 closed

[2016-01-24 23:25] sgoodswen commented on #17
fixed

[2016-01-24 23:25] #17 closed

[2016-01-24 23:26] sgoodswen commented on #18
fixed

[2016-01-24 23:26] #18 closed

[2016-01-24 23:27] sgoodswen commented on #19
fixed

[2016-01-24 23:27] #19 closed

[2016-01-24 23:35] sgoodswen opened #21 "DNA yield in Extraction results needs 2 decimal places"
In the Lab extractions tab when entering sample details you are only able to enter a whole number for DNA yield.  Please change this to accept up to 2 decimal places.

[2016-01-24 23:36] sgoodswen commented on #16
This has been implemented

[2016-01-24 23:36] #16 closed

[2016-01-25 00:20] Li-ReDBox commented on #21
[DNA yield](https://github.com/acadsamplesdb/acad_samples/blob/master/samples/models.py#L153) is defined as PositiveIntegerField. The proposed change will change the database scheme.

[2016-01-25 00:23] Li-ReDBox commented on #2
The cert looks like a valid one. @sgoodswen, do you know why it is still open? Can we close it?

[2016-01-25 00:24] Li-ReDBox commented on #4
More information is needed

[2016-01-25 00:24] #7 closed

[2016-01-25 00:26] #8 closed

[2016-01-25 00:32] #2 closed

[2016-01-25 06:15] Li-ReDBox opened #22 "Add visual indicator of samples"
Add visual indicator of whether a sample has been:

0. extracted
0. had a library made (Amplification?)
0. Enrichment
0. been sequenced

[2016-01-25 06:28] Li-ReDBox commented on #22
[Currently](https://github.com/acadsamplesdb/acad_samples/blob/master/samples/templates/sample/sample_table.html#L22),
1. red start is used for "has been extracted"
2. blue start is used for "is_carbondated"

@sgoodswen, could you please:
1. verify if the above four items to be included in displaying indicators;
2. clarify the question mark;
3. confirm if red and blue starts should be used as curr

[2016-01-25 06:59] sgoodswen commented on #22
1.  extracted  <- this is currently a red star
2.  had a library made (Amplification?)  <- Yes, for Amplification: symbol = glyphicon glyphicon-plus (green)
3.  has Enrichment (?) <- Yes, for Enrichment : symbol = glyphicon glyphicon-play-circle (magenta)
4.  been sequenced  <- Yes, for sequencing: symbol = glyphicon glyphicon-ok (black)

Yes, please continue to use red and blue stars as is curren

[2016-01-26 23:04] Li-ReDBox commented on #22
Thanks @sgoodswen.

Could you please clarify _"Is it possible to have a legend on the Samples selection page please?"_

Thanks

[2016-01-26 23:59] sgoodswen commented on #22
On the Samples page (https://upload-fix.oagr.org.au/sample/) in the blank space on the right hand side, please have the following:

(Red star)      Extraction
(Green plus)        Amplification
(Magenta circle)    Enrichment
(Black ok symbol)   Sequencing
(Blue star)     Carbon dated

Within the brackets you would place the actual coloured symbol

[2016-01-28 23:04] Li-ReDBox commented on #22
@sgoodswen, could you please create some testing dataset which has all these linked data?

[2016-01-29 00:29] sgoodswen commented on #22
Sample 2 now has an extraction, amplification, Enrichment, Sequencing and Carbon dating (we should see 5 coloured symbols)
Sample 7 has extraction, amplification, Enrichment (we should see 3 coloured symbols)

[2016-01-29 01:54] Li-ReDBox commented on #22
Thanks @sgoodswen

[2016-02-01 03:16] Li-ReDBox commented on #22
@sgoodswen ,  could you please help me to understand [sequence model](https://github.com/acadsamplesdb/acad_samples/blob/master/samples/models.py#L200)? It seems to me is a method description: what amplification and enrichment methods are used. I have not found links to any results.

[2016-02-01 04:14] sgoodswen commented on #22
Sorry Li, not sure what you mean by “sequence model”.

Sample ID 2 is linked to Extractions, Amplifications, Enrichments and Sequences

To find the links to the results for Sample 2 select ‘Extraction 2016-01-22 steve”. You will see extraction result 2A.

Select “Amplification 2016-01-29 stephen” and you will see Amplification results for 2A_2, 2A_1, 7A_1.

Select “Enrichment 2016-01-29 harry” and

[2016-02-01 04:34] Li-ReDBox commented on #22
I think I was on the correct direction: Sequencing does not link to Amplification results or Enrichment results. If you could confirm, or clarify more in case you cannot confirm, will be good.

[2016-02-01 05:02] sgoodswen commented on #22
Yes you are correct ,it does not link to the Amplification "results" or Enrichment "results" but is linked to either an Amplification or Enrichment title e.g. a path name to a sequence file is linked to "Sequence for Amplification 2016-01-29 Stephen" in the test database

[2016-02-01 05:18] sgoodswen opened #23 "Priority enhancement for batch upload of files"
Currently, there is an [upload files] option in Edit Sample to attach one file to a sample at a time.  There are hundreds of files to upload and an urgent enhancement is required to batch upload files (this was mentioned at the Lab meeting that you recently attended).

Ideally, the upload program would read the files in a directory and upload the file to the appropriate ACAD Sample ID taken from t

[2016-02-01 06:22] Li-ReDBox opened #24 "Hierarchical list of links to sample's extractions, amplifications, and enrichments"
Enhancement ID: 8
When a Sample is selected it needs to provide hierarchical list of links to its extractions, amplifications, and enrichments.

[2016-02-01 06:32] Li-ReDBox commented on #24
@sgoodswen, currently on detail page of a sample, it only lists Extraction and Carbon date.

Just to confirm with you that:
1.Amplification and Enrichment are needed to be added to detail page
2. How do you want amplifications and enrichments to be displayed? Is indentation OK? e.g.:
    Extraction
         Amplification
              Enrichment
   above Carbon date?

[2016-02-01 06:36] Li-ReDBox opened #25 "List the available search fields below search box"
Enhancement ID 16:

User without previous experience can search against indexed key words in a format of:
e.g. common_name: country:

[2016-02-01 06:42] Li-ReDBox commented on #6
@sgoodswen: is this enhancement id 3?

[2016-02-02 00:17] sgoodswen commented on #24
Yes, on the detail page of the sample we need to list inks to all children. Similar to what is currently displayed for Extraction and Carbon date.

Yes, indentation is OK for the lab options e.g.
  Extraction link
          Amplification link
                 Enrichment link
                     Sequencing link
Carbon date (no indentation)

[2016-02-02 01:15] sgoodswen commented on #25
The enhancement is to List the available search fields below the search box e.g.

Search keywords (e.g. acad_num:17 to find ACAD # 17)

acad_num other_num group common_name genus species subspecies category extracted_by_date
acad_location date_of_entry abc_num description region country state locallity location
lat lon datum collection_date collected_by quality museum museum_num sampled_by sample_

[2016-02-02 01:24] sgoodswen commented on #6
This is enhancement ID 3. Please refer to attached png for the type of display required

![thumbnails](https://cloud.githubusercontent.com/assets/16111098/12736824/94b35a36-c9a3-11e5-8d97-8c2a9fd784d3.png)

[2016-02-02 02:02] Li-ReDBox commented on #25
@sgoodswen, do you have any styling requirement? I found the place to change and minimal work has been done. You can go to dev site have a look.

[2016-02-02 02:14] Li-ReDBox commented on #6
Put ID 3's description here: Display filetype image/thumbnail for attached photos and files

[2016-02-02 02:23] Li-ReDBox commented on #6
@sgoodswen where can I get these icon files?
Do you know what types of file will have thumbnails? I see sql, txt and png (screen_out). I assume there should be one for excel.

[2016-02-02 02:58] sgoodswen commented on #22
Sample 2 has both Amplification and Enrichment and 7 only has
Amplification as you said.

We need to show sequencing symbol if a sample is associated with  an Amplification OR an Enrichment OR both

[2016-02-02 03:10] sgoodswen commented on #25
Looks good except Import, permit, # is actually one field "Import permit #". However, this search does not work because of the spaces (see issue #14 but Carbon date no longer required).

I think the style might  be clearer if "(e.g. acad_num:17 to find ACAD # 17)" is removed and examples are added beneath the keywords after a line space. e.g.

...
mismatch_reason, sample_repat ,Import permit #

Ex

[2016-02-02 03:10] #25 closed

[2016-02-02 03:22] Li-ReDBox commented on #25
@sgoodswen: I have updated it with your examples and removed "(e.g. acad_num:17 to find ACAD # 17)".  Let me know what you think.

Has this issue been closed?

[2016-02-02 03:25] sgoodswen commented on #6
Sorry, I do not know all the  type of files that will need thumbnails, but we will need them for at least pdf. jpg, png, text, MS Word,Excel (but not SQL).

I am not sure where you can get the icons but maybe from  a Django package such as http://easy-thumbnails.readthedocs.org/en/latest/index.html

[2016-02-02 03:31] sgoodswen commented on #25
The display looks good especially the examples highlighted in red

This issue can be closed

---

From: Li-ReDBox [notifications@github.com]
Sent: Tuesday, 2 February 2016 1:52 PM
To: acadsamplesdb/acad_samples
Cc: Stephen Goodswen
Subject: Re: [acad_samples] List the available search fields below search box (#25)

@sgoodswenhttps://github.com/sgoodswen: I have updated it with your examples and re

[2016-02-02 03:39] Li-ReDBox commented on #22
I have made it as OR and now 7 has OK label shown.

[2016-02-02 03:46] Li-ReDBox commented on #6
That one looks like generating a thumbnail from an image: The primary function of easy-thumbnails is to dynamically create thumbnails based on a source image. I think it resizes or reprocesses an image to be a thumbnail. I can be wrong.

I think the easiest way to get this over is to have a set of static images with correct size and other proper properties.

What do you think?

[2016-02-02 04:28] sgoodswen commented on #22
I agree, everything is now displayed as expected.

[2016-02-02 04:37] sgoodswen commented on #6
Sorry, I have no expertise with coding thumbnails. I guess if you can find icons for pdf, jpg, png, text, MS Word, and MS Excel then maybe using static images will be the easiest solution.

[2016-02-02 23:48] Li-ReDBox commented on #24
Would you be able to have a look at samples 2, 7 and other on dev site?

[2016-02-03 00:00] sgoodswen commented on #24
How you display the links looks good. The correct links are also displayed. However, if I select an amplification or enrichment link I get an error:

ValueError at /amplification/2A_2/

invalid literal for int() with base 10: '2A_2'

Request Method:     GET
Request URL:    http://upload-fix.oagr.org.au/amplification/2A_2/
Django Version:     1.8.2
Exception Type:     ValueError
Exception Value:

i

[2016-02-03 00:05] Li-ReDBox commented on #24
Seems it should point to Amplification not AmplificationResult, same to Enrichment. I will change it

[2016-02-03 00:15] Li-ReDBox commented on #24
Sample 2 has two AmplificationResults which all point to the same Amplification. As you asked only display Amplification, there is only one entry. Same to Enrichment. Is this correct? You can see it on the page.

[2016-02-03 00:24] sgoodswen commented on #24
I believe this is correct

[2016-02-03 03:55] sgoodswen opened #26 "Error when adding new permit and the "Active from" field is blank"
IntegrityError at /permit/add/

null value in column "active_from" violates not-null constraint
DETAIL:  Failing row contains (3, 2, 2016-02-10, 2016-02-10, 30, null, , ).

Request Method: 	POST
Request URL: 	http://upload-fix.oagr.org.au/permit/add/
Django Version: 	1.8.2
Exception Type: 	IntegrityError
Exception Value:

null value in column "active_from" violates not-null constraint
DETAIL:  Fai

[2016-02-03 05:55] Li-ReDBox commented on #6
I have found http://fontawesome.io/icons/#file-type which has icons for normal types. If a file has an extension as one of these: 'pdf', 'jpg', 'zip', 'txt', 'gz', 'xlsx', 'png', 'docx', a proper icon is displayed. Otherwise, [file icon](http://fontawesome.io/icon/file-o/) is displayed.
A demo can be seen in samples 2 and 12.

[2016-02-03 06:36] sgoodswen commented on #6
I am getting the opinion of several users as to whether they like these icons

[2016-02-08 03:45] Li-ReDBox opened #27 "Add “Make an extraction” on sample index page - enhancement id 6"
Samples menu -> Samples. Ability to select samples with the check box and then pick “Make an extraction” from same drop down box as [Export to CSV, Make a project]

[2016-02-08 03:48] Li-ReDBox commented on #27
@sgoodswen: could you please confirm this is to add an extra dropdown item after "Make a project" on sample's index page?

Also, do you know if there is code handling "Make an extraction" from a list of samples?

[2016-02-08 03:51] Li-ReDBox opened #28 "Selecting samples on multiple pages does not work"
This was mentioned as a part of enhancement id 6:
Make a project only works on one page. This needs to work when selecting on multiple page.

[2016-02-08 07:27] sgoodswen commented on #27
Yes, this enhancement is to add an extra dropdown item after "Make a project" on sample's index page?

Sorry,  I  do not know if there is code handling "Make an extraction" from a list of samples but I expect there will not be.

[2016-02-08 23:42] Li-ReDBox commented on #27
Thank you @sgoodswen .

If "Make an extraction" is a "new" function, would you be able to explain to me how you want it to perform? I assume there could be some similar function I can learn from, but I am not sure which one.

[2016-02-09 01:33] sgoodswen commented on #27
Li, could you please put this enhancement on hold until I find out more details from the users.

Thanks

[2016-02-10 00:07] Li-ReDBox commented on #28
@sgoodswen I have had a very rough set-up on the dev site only for selecting.  You may be able to select samples on different pages. Partially worked for me. But still work to be done mainly when moving around, things might not correctly displayed and etc. On server side, nothing has been done yet: so you can not, for example, export samples on different pages, yet.

Also be aware of browser compa

[2016-02-11 04:48] sgoodswen opened #29 "[Upload samples] is incorrectly appending fields"
The values in “sample-date” and “collection_date” of the Excel sheet are incorrectly appended to “samples notes” rather than their correct fields of “Sample date” and “Collection date”

[2016-02-11 04:52] sgoodswen commented on #22
We still need a legend for the symbols please

[2016-02-11 04:55] sgoodswen commented on #6
All icons except the picture files e.g. jpg are acceptable.

Can we please have true thumb nails for all picture files

[2016-02-15 03:48] sgoodswen commented on #3
The level required for logging changes depends on the answers to the following questions:
1: How often is the database backed up?
2. How long are the backups held in archive?

[2016-02-18 04:35] sgoodswen opened #30 "Cannot delete an Extraction result"
You cannot delete an extraction result using the red delete button (although it still prompts "are you sure you want to delete")

[2016-02-22 00:35] Li-ReDBox commented on #22
Could you please let me know if I have it is as you wanted? See it on the dev site.

[2016-02-22 00:44] sgoodswen commented on #22
If you could please remove the words  "Red star, Green plus etc.. " and only have the symbol

[2016-02-22 01:27] Li-ReDBox commented on #22
I have removed my debug strings to make it more production like. I have check in Firefox and Chromium on a high def screen. Hopefully it looks ok in others.

[2016-02-22 01:33] sgoodswen commented on #22
It looks good.

I think this issue can now be closed ... thanks

[2016-02-24 01:49] Li-ReDBox commented on #23
One solution may be incorporated in later on UI:

[code]

[2016-02-24 02:03] #22 closed

[2016-02-24 02:03] #23 closed

[2016-02-24 02:03] #24 closed

[2016-02-24 03:36] sgoodswen opened #31 "File manager does not correctly delete files"
File manager (when logged in as an administrator) should let an administrator delete files by selecting the “x” but it does not work

[2016-02-29 07:08] sgoodswen commented on #14
"Carbon Date" and "Import Permit #" are no longer used in the samples menu and are therefore not required as search keys.

Please remove "Import Permit #" from the list of available keys under the Search Menu

[2016-03-01 00:05] sgoodswen opened #32 "An extra field is required to enter a title prefix for each Lab option"
Required for Extraction title, Amplification title, Enrichment title e.g. If the title entered is “Bison extraction”, then the entire extraction heading is “Bison extraction 2015-12-07 ExtractionbyName”

[2016-03-01 01:25] sgoodswen opened #33 "System to provide an advanced search form/builder for constructing complex queries"

[2016-03-01 04:16] sgoodswen commented on #14
"Import Permit #" has been removed

[2016-03-01 04:16] #14 closed

[2016-03-01 05:08] sgoodswen commented on #11
This is a duplicate request with #33 [ACAD #15]

[2016-03-01 05:08] #11 closed

[2016-03-01 06:56] sgoodswen commented on #31
Fixed in both dev and production. The files are also now listed correctly in alphabetical  order

[2016-03-01 06:56] #31 closed

[2016-03-01 22:59] sgoodswen opened #34 "Ability to select multiple files to upload [ACAD #22]"
It is only possible to select one file at a time to upload to one sample. In the past it was possible to select multiple files using shortcut keys to attach to one sample.

[2016-03-01 23:43] sgoodswen opened #35 ""Active from" field in New Permit needs to be mandatory"
"Active from" field in New Permit  needs a * to indicate that it is a mandatory field
e.g. Active from*

If this field is left blank you get the following error:

integrityError at /permit/add/

null value in column "active_from" violates not-null constraint
DETAIL:  Failing row contains (8, 27, 2016-03-03, 2016-04-06, 45, null, , ).

Request Method: 	POST
Request URL: 	http://upload-fix.oagr.org.

[2016-03-01 23:53] sgoodswen opened #36 ""Permit number" field is not automatically populated in New sample group"
If a permit is selected from the Permit drop down box in  [Add sample Group], the selected permit number should automatically populate the “Permit number” field.

[2016-03-03 00:23] sgoodswen commented on #27
The workflow for this request is as follows:

Samples menu -> Samples.

User to select samples with the check box. These samples may be on multiple pages. User then picks “Make an extraction” from same drop down box as [Export to CSV, Make a project].

The “New extraction” fields appear as per the [Add extraction] option. On selecting  [Submit] button, the  “ID” and “Sample” fields in the Extracti

[2016-03-07 03:01] sgoodswen opened #37 "Intuitive search for Sample number [ACAD #10]"
Intuitive search for Sample number when adding Extraction results

e.g. Enter 1 and it lists all samples starting with 1, or 12 and it lists all samples starting with 12.

[2016-03-07 03:03] sgoodswen opened #38 "Samples have page range numbers in a drop down box [ACAD #12]"
In Samples -> Samples have page range numbers in a drop down box rather than taking up the entire page by displaying each page range sequentially.

[2016-03-07 03:05] sgoodswen opened #39 "Add “Next” and “Previous” page buttons [ACAD #14]"
Add “Next” and “Previous” page buttons to navigate between the various sample pages

[2016-03-07 03:08] sgoodswen opened #40 "Buttons to appear at top and botton of page [ACAD #21]"
Buttons to appear at top and bottom of  page when there is a long list of items on a page

e.g. In the extractions page to have [Add extraction] at the top of page in addition to the one that currently appears at the bottom (this saves on scrolling to the bottom of page)

[2016-03-07 04:27] Li-ReDBox commented on #37
Could you please provide the url for this action? I did not find it under /extraction/add/.

[2016-03-07 04:36] Li-ReDBox commented on #3
Recording actions can be done. How are they going to be used? In Admin interface (/admin/), on the right hand, you can see such information. My understanding is it is for read-only.

Some discussions may be helpful:
http://stackoverflow.com/questions/987669/tying-in-to-django-admins-model-history

[2016-03-07 04:40] sgoodswen commented on #37
Please refer to the attached file.

The enhancement is required for the "Sample number" field.

![screen shot extraction results](https://cloud.githubusercontent.com/assets/16111098/13560967/5cbcf02c-e476-11e5-8057-c9bdc4b4d7f9.png)

[2016-03-07 04:52] Li-ReDBox commented on #37
Just a reminder of where to start with: https://github.com/acadsamplesdb/acad_samples/blob/master/samples/forms.py#L210

[2016-03-07 04:59] Li-ReDBox commented on #39
Thought: replace this with another pagination?

[2016-03-07 05:23] sgoodswen commented on #3
My understanding is that whenever an delete, insert or update is performed on the postgreSQL database,  the user, date, time, and the action performed are recorded in a log file.  At this stage, the log file will only be manually viewed (e.g. using a text editor) by an administrator, if required. Its main purpose is to manually determine the relevant backup to restore following a catastrophic chan

[2016-03-07 05:53] Li-ReDBox commented on #3
Do you need to log data or just action?

[2016-03-07 05:58] sgoodswen commented on #39
I am checking with some SamplesDB users about your idea of another pagination and will get back to you.

[2016-03-07 06:00] sgoodswen commented on #3
I don't think we need to log all the data but logging the ID (or primary key) along with the action would be useful

[2016-03-09 00:45] sgoodswen commented on #39
The [Next] and [Previous] buttons are wanted for the actual sample page (please see attached). So, in this example, the [Next] button navigates you to sample ACAD10577 and [Previous] to ACAD10575.

Furthermore, users would like to return to a previously viewed page. For example, is it possible to record a history of recently selected pages, and then a user can select a page that was viewed previou

[2016-03-09 03:33] Li-ReDBox commented on #39
Just to confirm: do you want [Next] [Previous] buttons on detail page?

[2016-03-09 03:39] sgoodswen commented on #39
Sorry, I'm not sure what you mean by 'detail page'

[2016-03-09 04:09] Li-ReDBox commented on #39
The page accessed with url like this: https://upload-fix.oagr.org.au/sample/10/

[2016-03-09 04:12] sgoodswen commented on #39
Yes, this is the page we want the [Next] [Previous] buttons

[2016-03-29 23:52] sgoodswen commented on #21
This also a problem in the Lab Amplification tab when entering extraction result details you are only able to enter a whole number for DNA yield. Please change this to accept up to 2 decimal places.

[2016-03-30 01:34] Li-ReDBox commented on #20
In  [Upload Samples],  do you want to strip out all letters and only grab numbers in the cell? If so, "GPO13" will be "13", "GP001" will be "001". But I have seen some group names are like "GP0518 Bone (Poland)". Please advice what pattern do you want.

In [Add sample group] form, Group is a dropdown list. Is there another field allows free text?

[2016-03-30 01:43] Li-ReDBox commented on #21
If we use [decimalfield](https://docs.djangoproject.com/en/1.8/ref/models/fields/#decimalfield), you have to define the maximal allowed digits. How many do you want?

[2016-03-30 02:22] Li-ReDBox commented on #26
@sgoodswen, could you please check if the problem of that field has been fixed?

[2016-03-30 03:17] Li-ReDBox commented on #29
Those two dates probably [deliberately dealt as such](https://github.com/acadsamplesdb/acad_samples/blob/master/readfromexcel.py#L58) given the example upload spreadsheet I see has vastly different, invalid date strings.

If put these two dates fields into their fields, they have to pass sanitation check. What do you want to happen if the check fails?

[2016-03-30 03:21] Li-ReDBox commented on #35
Replace #26

[2016-03-30 03:34] sgoodswen commented on #21
5 digits e.g. 000.00  (i.e. 3 digits before 2 decimal places)

[2016-03-30 03:52] Li-ReDBox commented on #21
Do you want dna yield EnrichmentResult to be changed to decimal type too?

[2016-03-30 04:42] Li-ReDBox commented on #26
Replaced by #35

[2016-03-30 04:42] #26 closed

[2016-03-30 05:07] Li-ReDBox commented on #20
Only allow number for [Group number] field and no prefix is allowed.
In form [/samplegroup/add/], only allow number in [Group number] field.
In csv upload function, same rule apply and display error message and stop uploading.

[2016-03-30 06:11] Li-ReDBox commented on #35
To make migration simpler, it has default `null=True`

[2016-03-30 06:13] Li-ReDBox commented on #28
The requirement changed to make a form with search ability for adding samples to a list for exporting or making a project.

[2016-03-30 06:14] Li-ReDBox commented on #21
EnrichmentResult should also be changed for consistence after discussion.

[2016-03-30 06:18] Li-ReDBox commented on #30
Fix is covered by #31 and code is [here](https://github.com/acadsamplesdb/acad_samples/commit/86143267b6c5329ed3320653d5cede004a5b9f55#diff-35cff2ba5cc2c7450c1f8f2adfa2dbd1R126)

[2016-03-30 22:44] sgoodswen commented on #36
There are two Permit fields when adding a samples group: Permit [a dropdown box] and Permit Number [a free text box]. This is confusing to users and the ‘free text’ is prone to mistakes.

The display is composed of 3 parts in the dropdown box,:  Permit number, Valid for, and Valid to e.g. 200507186 Soil (valid to 2007-05-05)

The proposed solution is to make the Permit number field 'read only' and

[2016-03-30 23:05] sgoodswen commented on #40
This issue is considered to be a flaw in the initial design of the web pages.

The solution is to move the option buttons e.g.  [Add sample group] [Upload sample group] to the top of the web page only if the page content is longer than the page height.  Ideally, for long pages it would be beneficial to have the same set of buttons at both the top and bottom of the page.

This solution is required

[2016-03-30 23:17] sgoodswen commented on #30
This issue has been fixed and tested for Extraction, Amplification, and Enrichment results

[2016-03-30 23:17] #30 closed

[2016-03-30 23:29] sgoodswen commented on #35
If you do not enter an "Active from" the program correctly displays in red "This field is required". However, if you then select an "Active from" the program incorrectly still displays in red "This field is required" (see attached screenshot).

![screen shot 2016-03-30 at 5 05 45 pm](https://cloud.githubusercontent.com/assets/16111098/14160889/10d64686-f727-11e5-88ef-2e927a3dafe9.png)

[2016-03-30 23:44] Li-ReDBox commented on #36
The model itself is also confusing. Anyway, a javascript fix has been implemented.
@sgoodswen could you please have a look?

[2016-03-30 23:45] sgoodswen commented on #21
If you enter more than 2 decimal places the program correctly warns with a "Please select a valid value" message. However, if more than 3 digits precede the decimal point e.g. 1000 or 1000.33 no message is displayed (although the program correctly does not respond to the [submit] button).

[2016-03-31 00:21] sgoodswen commented on #29
As discussed, the only acceptable format for the values entered in “sample-date” and “collection_date” should be Year-month-day e.g. 2016-03-31

When using the [Upload samples] option, an informative error should be displayed to the user if the dates entered for “sample-date” and “collection_date” are not in the required format.

Sometimes the user may not know the month and/or day. Is it possible

[2016-03-31 01:34] sgoodswen commented on #36
The program correctly displays the permit number when selecting from the dropdown box, but incorrectly does not retain the permit number in the "Permit number" field after the [Submit] button is selected

![screen shot 2016-03-31 at 12 02 56 pm](https://cloud.githubusercontent.com/assets/16111098/14162998/9507047a-f738-11e5-9fce-13ee93f240f0.png)

[2016-03-31 01:46] Li-ReDBox commented on #21
I used Firefox and Chromium and I had error message. This one is of them:
![screenshot from 2016-03-31 12 03 40](https://cloud.githubusercontent.com/assets/3203171/14163116/ab0f3ee4-f739-11e5-8fc5-1ceb2bb044e9.png)

Did you use Safari? I have not changed any error handling which is from the base library. Have you seen any error messages before in any forms?

[2016-03-31 02:17] Li-ReDBox commented on #36
@sgoodswen  Can you check it again?

[2016-03-31 02:22] Li-ReDBox commented on #35
What version of Safari are you using?

[2016-03-31 02:58] sgoodswen commented on #35
I am using Firefox 45.0.1 on a Mac.

If I use [submit], it creates the permit OK with no errors.

[2016-03-31 03:03] sgoodswen commented on #21
I am using Firefox 45.0.1 on a Mac. For the DNA yield I only see this type of error:

![screen shot 2016-03-31 at 1 31 58 pm](https://cloud.githubusercontent.com/assets/16111098/14164222/22222d92-f745-11e5-828a-9e60322a4b7f.png)

[2016-03-31 03:15] sgoodswen commented on #36
This issue has been fixed and tested in the development version of SamplesDB

[2016-03-31 03:15] #36 closed

[2016-03-31 03:17] Li-ReDBox commented on #35
I now get what you were looking for. I doubt it has the ability to monitor change to clear error message on client side. I think it does the check on server side.

[2016-03-31 05:21] Li-ReDBox commented on #40
amplification/index.html
c14/index.html
enrichment/index.html
extraction/index.html
permit/index.html
sample/index.html
samplegroup/index.html
sequence/index.html

have been changed to meet the requirements. Page height depends on resolution of a screen not easy to detect on server side so I propose to use row number as the criterion. The default value used on sample page to control pagination is

[2016-03-31 05:33] Li-ReDBox commented on #29
These two fields are date fields in database and I tested 2016-00-00 and 2016-03-00, both failed to convert. If we do not want to change model, user has to give a proper date string, aka a valid date.

[2016-03-31 06:07] Li-ReDBox commented on #29
@sgoodswen, my previous statement may not very accurate.

I need to double check with you: current code only puts those two date fields into note field when it sees invalid dates: year only, free text and etc. If they are valid, it puts into correct fields.

That's to say, it does not force data to be valid for these two fields. It also cannot violate database requirement. The work around is to pu

[2016-03-31 06:32] Li-ReDBox commented on #28
files to be changed to enable building a list on client side var search:
1. https://github.com/acadsamplesdb/acad_samples/blob/master/samples/views.py#L874
2. https://github.com/acadsamplesdb/acad_samples/blob/master/samples/templates/search/search.html
3. https://github.com/acadsamplesdb/acad_samples/blob/master/acad_samples/urls.py#L102
4. http://django-haystack.readthedocs.org/en/latest/searchr

[2016-04-01 00:11] sgoodswen commented on #35
The fact that the it still displays in red "This field is required"  when a value is entered is minor issue and more cosmetic . Otherwise this issue is fixed.

[2016-04-01 00:11] #35 closed

[2016-04-01 00:16] sgoodswen commented on #29
Yes, we should force the user to enter valid dates e.g. Year-month-day  with no 0 replacements

[2016-04-01 00:35] sgoodswen opened #41 "Change list order for extractions and amplifications"
For Extractions, order of the extractions listed on the page based on the "Date extracted" i.e. newest date extracted at top of page

For Amplifications, order of the amplifications listed on the page based on the "Date" (newest date at top of page)

[2016-04-01 00:36] Li-ReDBox commented on #21
@sgoodswen it looks like a reasonable response even it is not in red. Not sure why it has different colours for errors.

[2016-04-01 00:40] sgoodswen commented on #21
I still do not get an error if more than 3 digits precede the decimal point e.g. 1000 or 1000.33

[2016-04-01 00:47] Li-ReDBox commented on #21
If you cannot save changes with invalid data, that means validation works. If you cannot save but you cannot see error message, and it happens in majority browsers, then we have to do more tests and maybe finish this later given the limited available time .

[2016-04-01 00:53] Li-ReDBox commented on #41
@sgoodswen could you have a check?

[2016-04-03 02:29] sgoodswen commented on #21
I confirm that you cannot save changes with invalid data e.g. 1000 or 1000.33, and this is what we want. However, for the record I do not see any error messages when using a Mac and Firefox, Windows 7 and Firefox, or Windows 7 and Internet explorer 11 when entering either1000 or 1000.33
I also confirm that the actual reported issue .i.e. “DNA yield in Extraction results needs 2 decimal places” has

[2016-04-03 03:15] sgoodswen commented on #41
I confirm that this issue has been fixed and can be closed

[2016-04-04 00:09] Li-ReDBox commented on #21
Thank @sgoodswen very much for doing the confirmations on different browsers. It is bad that user could not get good response if using certain browsers but at least the software does not allow un-wanted data pass.

[2016-04-04 23:53] sgoodswen commented on #40
We are happy with this fix and leaving the  default for the number of rows at 10 has been requested by the main users.

[2016-04-05 00:18] sgoodswen commented on #28
The changes made to the Search menu to allow multiple samples to be selected is an acceptable solution. This issue can be closed once tested in production

[2016-04-05 00:18] sgoodswen commented on #40
This issue can be closed

[2016-04-05 00:25] Li-ReDBox commented on #28
@sgoodswen do you want keep the issue open but deployed to production server?

[2016-04-05 00:28] sgoodswen commented on #28
I would like to keep all the issues that you have fixed and deployed to production 'open' please, and then I will close them once I have tested them in production ... thanks

[2016-04-05 00:48] Li-ReDBox commented on #28
@sgoodswen no problems. I have put close command into commits in other fixes as I always do because I was not aware this is a requirement. I will leave them as they are. If you find some issues were closed by commits, feel free to reopen them.

[2016-04-05 01:35] sgoodswen opened #42 "Only an Admin user should be able to delete a sample"
Currently, a normal user can delete a Sample if there are no children i.e. extractions, amplifications, and an Admin user can delete a sample with or without children. We would like to remove the [Delete me] button for a normal user when editing a sample. That is, only an Admin user can delete a sample whether it has children or not. A normal user can then only change field values when editing a s

[2016-04-05 01:37] sgoodswen opened #43 "Remove ‘Extract Control’ from Add Extraction"
In Lab -> Extractions and then [Add extractions], the request is to remove the ‘Extract control’ list box completely. This also means that there should be no Extract controls listed when selecting an extraction.

[2016-04-05 01:38] sgoodswen opened #44 "Easier method to link samples to carbon dates"
In Samples -> Carbon dates and then [Add carbon date], the request is to enter a sample or range of samples to link to new carbon date being added.
For example, in the Sample field to allow user to enter acad #s e.g. 15 or 15,27,45 or 15-25   in addition to selecting the sample by some type of search logic e.g. enter 2 and it lists all samples starting with 2 or enter 23 and lists all starting wit

[2016-04-05 01:59] Li-ReDBox commented on #29
@sgoodswen could you please to test if this problem is fixed on dev?

[2016-04-05 02:04] #40 closed

[2016-04-05 02:04] #41 closed

[2016-04-05 05:14] jsoubrier opened #45 "Carbon dates decimals issue in samples"
In https://samples.oagr.org.au/c14/, the values look good (only a few decimals, as uploaded from the speadsheet).
However, in https://samples.oagr.org.au/sample/1/, for example, at the bottom of the page, most values for Carbon Dates have lots of decimals (e.g., 19.89999999999999857891), which seems to be a made up number as this amount of decimals was never in our uploaded data.
![screen shot 201

[2016-04-05 05:26] Li-ReDBox commented on #6
@sgoodswen, I just test a not so good solution for displaying true thumbnails of picture. If you go to sample/2/ of dev server, you can see a rough example.

[2016-04-05 05:43] sgoodswen commented on #20
This issue has been fixed

[2016-04-05 05:43] #20 closed

[2016-04-05 05:47] sgoodswen commented on #21
This issue has been fixed

[2016-04-05 05:47] #21 closed

[2016-04-05 05:48] sgoodswen commented on #28
The solution has been implemented correctly in production

[2016-04-05 05:48] #28 closed

[2016-04-05 06:15] sgoodswen commented on #29
This issue is fixed

[2016-04-05 06:15] #29 closed

[2016-04-05 06:31] sgoodswen commented on #6
I am getting the opinion of other users and will let you know later what they think

[2016-04-05 06:38] Li-ReDBox commented on #6
@sgoodswen I made a bit cosmetic change and hope users will like it

[2016-04-05 06:48] Li-ReDBox commented on #42
A [change](https://github.com/acadsamplesdb/acad_samples/commit/5a0c012782bd9c9283c4d10b67d7e3a552c558d6) has been made on dev and can be made to production any time if passed tests.

[2016-04-05 06:53] Li-ReDBox commented on #45
In the model of c14, they have very high precision: [20 decimal places](https://github.com/acadsamplesdb/acad_samples/blob/master/samples/models.py#L350)

[2016-04-05 07:04] sgoodswen opened #46 "Export CSV incorrect output"
For Samples -> Export CSV, the output columns are different to the columns used to [Upload samples]. This means that if the CSV is imported into an Excel sheet  (with sheet name changed to sample), the [Upload samples] option generates an error

e.g. Cannot upload data: 'int' object has no attribute 'lower'

See attached file
[test_CSV.xlsx](https://github.com/acadsamplesdb/acad_samples/files/2039

[2016-04-05 08:06] jsoubrier commented on #45
Does that mean the program 'makes up' decimals when they are absent for displaying on the samples page?
Can we simply reduce that to 2 decimals for clarity?
Thanks!

[2016-04-05 23:30] sgoodswen commented on #6
The thumbnails look good ... is it still possible to have the filename above or below the picture please?

[2016-04-05 23:40] sgoodswen commented on #42
This issue has been fixed and tested on dev and is ready for release to production

[2016-04-05 23:48] Li-ReDBox commented on #6
Name can still be displayed. How about size? Also you have to be aware that this solution is not perfect which I consider as a temporary solution.

[2016-04-05 23:53] sgoodswen commented on #6
The size is good. I think your solution (with the name displayed above or below) the image is good enough to deploy to production.

[2016-04-05 23:55] Li-ReDBox commented on #42
Production site has been updated.

[2016-04-06 00:01] sgoodswen commented on #42
This issue has been tested in production and can be closed

[2016-04-06 00:01] #42 closed

[2016-04-06 01:31] Li-ReDBox commented on #6
There is one more problem to be solved before can be deployed: only has image link for images.

[2016-04-06 06:26] #34 closed

[2016-04-06 07:00] Li-ReDBox commented on #6
Now it should be OK to close. If any one can check and happy with the result, we can close this issue.

[2016-04-06 07:28] jsoubrier commented on #6
Yes, it looks good to me (although the car crash photo is a bit dramatic for an extinct bison sample ;-)
Thanks Li!

[2016-04-06 07:34] Li-ReDBox commented on #6
Good. I have deployed changes to the production server. It should display thumbnail for jpg, jpeg and png files. I have checked the production database, it only has jpg and jpeg so we are covered.

[2016-04-06 07:35] #6 closed

[2016-04-06 07:51] Li-ReDBox commented on #45
I will have some investigation to see where the problem is. I am not sure if it is a display problem. Of course, if no high accuracy is required, I can convert them into another type.

[2016-04-07 00:37] jsoubrier commented on #45
Thing is, I don't think we ever had this number of decimals to start with... Here is what has been uploaded to the C14 table (original data - sample 1 is the same example as above):
![screen shot 2016-04-07 at 09 58 49](https://cloud.githubusercontent.com/assets/5704915/14336866/7effd548-fca7-11e5-90fc-4bfd5d7d6178.png)

The display on the C14 page of the database looks good and reflects the origi

[2016-04-08 00:15] Li-ReDBox commented on #45
Follow up:
index page of C14 uses a [display conversion filter](https://github.com/acadsamplesdb/acad_samples/blob/master/samples/templates/c14/index.html#L41) which hides when these decimal numbers are precision loose.

I applied this conversion on sample's detail page.

Please check if it has fixed the problem.

[2016-04-08 00:21] jsoubrier commented on #45
Working great!
Thanks Li

[2016-04-08 00:23] #45 closed

[2016-04-12 03:28] jsoubrier opened #47 "Search issues"
Searching for a number works (e.g., 885) but not for a keyword (e.g., bison). Difficult to say if the algorithm is running and taking a long time, or just not working.

Also, clicking on the column names to sort (increasingly or decreasingly) is not working.

[2016-05-25 07:22] jsoubrier opened #48 "Search is broken"
Nothing happens when conducting a search at https://samples.oagr.org.au/search/
No error message or loading.

[2016-05-25 07:23] jsoubrier opened #49 "C14 database not working"
https://samples.oagr.org.au/c14/ is returning the following: "Server Error (500)"

[2016-06-01 00:14] Li-ReDBox commented on #48
@jsoubrier I only got a chance to check the migrated system. The service was not running well and it seems running now. Would you be able to have a look to confirm if it works?

[2016-06-01 00:26] jsoubrier commented on #48
@Li-ReDBox Yes search works now, thanks!

[2016-06-01 00:27] Li-ReDBox commented on #48
@jsoubrier that is good.

[2016-06-01 00:27] #48 closed

[2016-06-01 00:32] Li-ReDBox commented on #49
Could you please do a quick check if it works now after elasticsearch is working? These two appear not linked but just in case there is something I don't know. I can run shell fine.

[2016-06-01 00:34] jsoubrier commented on #49
No, I had a look already, still getting the error 500...

[2016-06-07 07:04] jsoubrier opened #50 "Database is not accessible"
Site can't be reached...

[2016-06-08 01:20] #50 closed

[2016-06-08 06:24] Li-ReDBox commented on #49
One of centre's name has space in it: xxx xxxx, which causes SlugField generated in-suitable url.

[2016-06-08 06:43] Li-ReDBox commented on #49
After I did an urgent fix, the page can be loaded. Please let me know if you can confirm. I will commit a proper fix if the urgent fix is acceptable.

[2016-06-08 06:57] jsoubrier commented on #49
Yes, working well at the moment

[2016-06-08 07:03] Li-ReDBox commented on #49
Good to hear. Let's hope it will stay that way.

[2016-06-09 01:16] Li-ReDBox commented on #47
The function works as expected. The reason of being slow is because of the number of hit is too high.

There was a problem of sorting. I have implemented a solution on the test server. If you could have a look and let me know if it works as you expected, I will move it to the production server.

[2016-06-09 01:31] jsoubrier commented on #47
Hi Li,
Yes the sorting is working well on the test server.
Thanks for checking the search function. Is there any way to display a message when the search is complete but did not find any match? At the moment, it is not possible to tell if still running or finished running with no hit.
Cheers,
Ju

[2016-06-09 01:40] Li-ReDBox commented on #47
The simple way to do is to display "No result found" message. I put it in action on test server. Let me know what you think.

[2016-06-09 01:52] Li-ReDBox commented on #46
I think these two are for different purposes. When uploading, probably just keep as less as possible number of columns is not a bad idea. But when exporting, you want more.

@jsoubrier  could you please review the table below and let me know if they should be identical; if so, what is the set.

| Export | Upload |
| --- | --- |
| acad_num | acad_num |
| abc_num | abc_num |
| acad_location | acad_l

[2016-06-09 02:00] jsoubrier commented on #47
Looks great thanks!
Also, is it normal that a new search just adds results at the bottom of the previous search results (VS doing a new clean search)?
Ju

[2016-06-09 02:12] Li-ReDBox commented on #47
Great.

It is designed to not remove previous search results. This just reminded me of using search to create a collection for exporting samples to csv. Apparently, it is not working. :cry:

[2016-06-09 02:17] jsoubrier commented on #46
Thanks Li.
I think it makes sense if we make the Export set exactly matching the Upload one.
To me it looks like the Export scheme comes from an old set (outdated).
The only thing that I can see could be added to the Export set (at the end) is information corresponding to the color code in place. Has the sample been:
Extracted?
Amplifed?
Enriched?
Sequenced?
Carbon dated?

If there is an easy way

[2016-06-09 02:23] Li-ReDBox commented on #47
@jsoubrier it was a false alarm at least I think it is: I did not tick any checkboxes. No wonder nothing exported. Could you please confirm if it is the case?

[2016-06-09 02:27] Li-ReDBox commented on #46
I would think anything you see in the sample table should be able be extracted and exported. Do you have any example of having the extra information in a csv file? Five extra columns with yes no?

[2016-06-09 03:47] jsoubrier commented on #47
Yes, at the moment we've got an empty table (header only) when exporting from search (either test or current server)

[2016-06-09 03:59] jsoubrier commented on #46
Yes, I think 5 extra columns named "Extracted, Amplified, Enriched, Sequenced, C14", and YES/NO would be good.

[2016-06-09 04:59] Li-ReDBox commented on #47
I did another one on production server from the search of 'bison OR pig' and in the exported csv it has 1776 rows. Last time I reported the problem because I did not tick the checkboxes in front of each sample row.

[2016-06-09 05:05] jsoubrier commented on #47
Sorry I misunderstood your point... Yes, it works and exports the csv!
Ju

[2016-06-09 05:29] Li-ReDBox commented on #47
That's good nothing to worry. I will put this sorting fix to production server.

[2016-06-09 05:36] Li-ReDBox commented on #46
I will make export has all the columns in upload csv and five extra columns. I will talked to you if these extra columns deemed to hard. I hope not.

[2016-06-09 05:53] Li-ReDBox commented on #46
@jsoubrier I have an old upload csv which looks having different columns listed here. Could you confirm if this is the complete and correct set?

acad_num other_num group common_name genus species subspecies category extracted_by_date acad_location date_of_entry abc_num description region country state locallity location lat lon datum collection_date collected_by quality museum museum_num sampled_

[2016-06-09 06:03] jsoubrier commented on #46
Yes, this is exactly the scheme with use for upload (except for the acad_num at the beginning, this column is removed for normal users as the DB is generating them - only admin users can force upload with acad_num which replaces the entries).

[2016-06-10 00:28] Li-ReDBox commented on #46
I have not been involved in any design, so I have no knowledge of the functions and purposes of export or upload.

My observation is that the export function exports EXACTLY ALL the fields defined by the Sample model. By comparison, I suspect extra fields in the upload sheets are processed or ignored when uploading. I would say they are different functions not mirroring each other.

I have not inv

[2016-06-10 00:38] jsoubrier commented on #46
Thanks for having a look at that Li,
I'll ask the group at lab meeting today if this function is critical for future work, and will let you know.
In the meantime, I would suggest leaving it as is for now.

[2016-06-10 00:45] Li-ReDBox commented on #46
Thanks. will do that.

[2016-06-10 00:52] jsoubrier commented on #49
Thanks for fixing the C14 sheet!
Is there any chance you could rename the field 'Sample Reference' to 'Other ID' and make it non-mandatory?
Also, could we add an extra free-text field called 'Notes'? That would be extremely useful.
Cheers,
Ju

[2016-06-10 01:28] Li-ReDBox opened #51 "Modify C14 table"
Copied from a comment made by @jsoubrier of #49:

Is there any chance you could rename the field 'Sample Reference' to 'Other ID' and make it non-mandatory?
Also, could we add an extra free-text field called 'Notes'? That would be extremely useful.

[2016-06-10 01:29] Li-ReDBox commented on #49
I moved rename and notes field to another issue #51

[2016-06-10 01:35] #47 closed

[2016-06-10 01:35] #49 closed

[2016-06-28 00:40] jsoubrier opened #52 "Group number assignment"
Hi Li,
Users are having issues assigning new group numbers:
"Trying to add a new group number
I’ve left Group Number blank (the database should auto fill this using the next available number) but when I hit “Submit” the group number box is highlighted in red  with “Only number is allowed” in red underneath"